server:
  port: 8083

spring:
  application:
    name: data-service
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

# InfluxDB 配置
influx:
  url: http://localhost:8086
  token: WwxP4r0umYncWnX4Ej0EtVmKqYo1foQZRJT8V7YHwfrUeV1YyixJmXn_HsuxrQxMxJEjt_u64AlXexb4YNuKow==
  org: MyGreenhouse
  bucket: smart_greenhouse